# GCP Credentials (para Sprint 1 HU3)
GOOGLE_APPLICATION_CREDENTIALS=config/gcp-sa-key.json
GCS_BUCKET_NAME=your-bucket-name

# NBA API Settings
# (Añade aquí configuraciones de proxy si es necesario)
