# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter Notebooks
.ipynb_checkpoints

# Environment variables
.env

# Google Cloud Keys and Config
# Permitimos config/ pero ignoramos su contenido por defecto excepto model_features.json
!config/
config/*
!config/model_features.json
!config/package.json
*.json
!package.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.log

# MLflow artifacts (keep directory structure, ignore DB and runs)
data/mlflow/mlflow.db
data/mlflow/mlruns/

# Test & Coverage artifacts
.pytest_cache/
.coverage
htmlcov/
